{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    
    <div class="our-experts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="q">Our team</h2>
                        <h3 class="a">We are the best team cleaning.</h3>
                        <span class="tgs"></span>
                    </div>                    
                </div>                
            </div>
            <div class="row people">
				<div class="col-md-4">
                    <div class="person">
                        <img src='{% static "img/demo/team-04.jpg" %}' class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Josh Doe</h2>
                                    <span>Office manager</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->
                </div>
				<div class="col-md-4">
                    <div class="person">
                        <img src='{% static "img/demo/team-05.jpg" %}' class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Josh Doe</h2>
                                    <span>Office manager</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->
                </div>
				<div class="col-md-4">
                    <div class="person">
                        <img src='{% static "img/demo/team-06.jpg" %}' class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Josh Doe</h2>
                                    <span>Office manager</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->
                </div>
                <div class="col-md-4">
                    <div class="person">
                        <img src='{% static "img/demo/team-01.png" %}' class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Jeeny Air</h2>
                                    <span>Cleaning staff</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->
                </div>
                <div class="col-md-4">
                    <div class="person">
                        <img src='{% static "img/demo/team-02.png" %}' class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Jeeny Air</h2>
                                    <span>Cleaning staff</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->                    
                </div>
                <div class="col-md-4">
                    <div class="person">
                        <img src='{% static "img/demo/team-03.png" %}' class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Jeeny Air</h2>
                                    <span>Cleaning staff</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.our-experts -->
	
	
    <div class="clients clients-index-3 no-padding-top">
        <div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text-left margin-bottom-50">
						<h2 class="q">Our Partners</h2>
						<h3 class="a">Our best partners - They always trust us</h3>
						<span class="tgs"></span>
					</div>
					<div class="list-client-small">
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner1.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner2.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner3.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner4.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner5.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner6.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner2.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner3.png" %}' alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src='{% static "img/demo/partner4.png" %}' alt="" /></a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-left margin-bottom-50">
						<h2 class="q">Testimonials</h2>
						<h3 class="a">What Our clients say about us</h3>
						<span class="tgs"></span>
					</div>
					<div class="testimonials testimonials-small">
						<div class="slick-slider-nav">
                            <div class="item">
                                <img src='{% static "img/demo/testimonial-1.png" %}' height="70" width="70" alt="" />
                            </div>
                            <div class="item">
                                <img src='{% static "img/demo/testimonial-2.png" %}' height="70" width="70" alt="" />
                            </div>
                            <div class="item">
								<img src='{% static "img/demo/testimonial-3.png" %}' height="70" width="70" alt="" />
                            </div>
                            <div class="item">
                                <img src='{% static "img/demo/testimonial-4.png" %}' height="70" width="70" alt="" />
                            </div>
                            <div class="item">
                                <img src='{% static "img/demo/testimonial-5.png" %}' height="70" width="70" alt="" />
                            </div>
                        </div><!-- /.slick-slider-nav -->
						<div class="list-testimonial slick-slider-for">
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
						</div><!-- /.slick-slider-for-->
					</div>
                </div> <!-- /.testimonials -->
            </div>
        </div>
    </div>
    <!-- /.clients -->
{% endblock %}	