{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

			<div class="slider">
				<div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="cleanUP">
					<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
					<div id="rev_slider_10_1" class="rev_slider fullwidthabanner" data-version="5.2.6">
						<ul>
							<!-- SLIDE  -->
							<li data-index="rs-40" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="assets/bg-transparent.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption rev-main-title-black tp-resizeme" 
									id="slide-40-layer-1" 
									data-x="['left','left','left','center']" data-hoffset="['15','15','15','0']" 
									data-y="['top','top','middle','middle']" data-voffset="['114','64','0','-40']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="y:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">WE ARE CLEANUP </div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption rev-small-title-black tp-resizeme" 
									id="slide-40-layer-2" 
									data-x="['left','left','left','center']" data-hoffset="['15','15','15','0']" 
									data-y="['top','top','middle','middle']" data-voffset="['169','119','-40','-80']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:-50px;opacity:0;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">WE PROVIDED QUALITY CLEANING PRODUCTS </div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption   tp-resizeme" 
									id="slide-40-layer-3" 
									data-x="['left','left','left','center']" data-hoffset="['15','15','15','0']" 
									data-y="['top','top','middle','middle']" data-voffset="['208','158','40','0']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="1000" 
									data-responsive_offset="on"><img src='{% static "assets/wave-2.png" %}' alt="" width="114" height="11" data-ww="['114px','114px','114px','114px']" data-hh="['11px','11px','11px','11px']" data-no-retina> </div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption rev-p-black tp-resizeme" 
									id="slide-40-layer-4" 
									data-x="['left','left','left','left']" data-hoffset="['15','15','826','826']" 
									data-y="['top','top','top','top']" data-voffset="['262','202','206','206']" 
									data-fontsize="['14','12','12','12']"
									data-lineheight="['24','22','22','22']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-visibility="['on','on','off','on']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Aenean massa. Praesent<br> nec nisl a purus blandit viverra. Suspendisse feugiat. In ac felis quis tortor malesuada pretium.<br><br>Phasellus blandit leo ut odio. Aenean vulputate eleifend tellus. Curabitur ullamcorper ultricies <br>nisi. Curabitur a felis in nunc fringilla tristique. Donec quam felis, ultricies nec, pellentesque eu,<br> pretium quis, sem. </div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption rev-btn rev-btn-green tp-resizeme" 
									id="slide-40-layer-5" 
									data-x="['left','left','left','center']" data-hoffset="['15','15','15','-80']" 
									data-y="['top','top','center','center']" data-voffset="['441','381','80','40']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
									data-style_hover="bg:rgba(0, 0, 0, 1.00);c:rgba(255, 255, 255, 1.00);"
									data-transform_in="y:50px;opacity:0;s:500;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="1500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">SEE MORE </div>
								<!-- LAYER NR. 6 -->
								<div class="tp-caption rev-btn rev-btn-black tp-resizeme" 
									id="slide-40-layer-6" 
									data-x="['left','left','left','center']" data-hoffset="['155','175','175','80']" 
									data-y="['top','top','center','center']" data-voffset="['441','381','80','40']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
									data-style_hover="bg:rgba(0, 0, 0, 1.00);c:rgba(255, 255, 255, 1.00);"
									data-transform_in="y:50px;opacity:0;s:500;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="1600" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">CONTACT US </div>
								<!-- LAYER NR. 7 -->
								<div class="tp-caption   tp-resizeme" 
									id="slide-40-layer-7" 
									data-x="['right','right','right','right']" data-hoffset="['15','-27','-26','-379']" 
									data-y="['top','top','top','top']" data-voffset="['30','57','15','3']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-visibility="['on','on','on','off']"
									data-transform_idle="o:1;"
									data-transform_in="x:50px;opacity:0;s:500;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="500" 
									data-responsive_offset="on"><img src='{% static "assets/slider-2.png" %}' alt="" width="414" height="932" data-ww="['414px','300px','300px','300px']" data-hh="['932px','625px','625px','625px']" data-no-retina> </div>
								<!-- LAYER NR. 8 -->
								<div class="tp-caption   tp-resizeme" 
									id="slide-40-layer-8" 
									data-x="['right','right','right','right']" data-hoffset="['140','85','67','-399']" 
									data-y="['top','top','top','top']" data-voffset="['60','78','44','11']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-visibility="['on','on','on','off']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="500" 
									data-responsive_offset="on"><img src='{% static "assets/slider-1.png" %}' alt="" width="371" height="634" data-ww="['371px','280px','280px','280px']" data-hh="['634px','478px','478px','478px']" data-no-retina> </div>
							</li>
							<!-- SLIDE  -->
							<li data-index="rs-41" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="assets/bg-transparent.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption rev-small-title-black tp-resizeme" 
									id="slide-41-layer-1" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','middle','middle']" data-voffset="['150','120','-80','-70']" 
									data-fontsize="['16','16','14','12']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:left;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">WE PROVIDED QUALITY CLEANING PRODUCTS </div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption rev-large-title-black tp-resizeme" 
									id="slide-41-layer-2" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','middle','middle']" data-voffset="['189','159','-40','-40']" 
									data-fontsize="['72','60','40','30']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:right;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">FRESH & CLEAN SERVICE </div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption   tp-resizeme" 
									id="slide-41-layer-3" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','middle','middle']" data-voffset="['278','258','0','-10']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:right;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="500" 
									data-responsive_offset="on"><img src='{% static "assets/wave-2.png" %}' alt="" width="114" height="11" data-ww="['114px','114px','114px','114px']" data-hh="['11px','11px','11px','11px']" data-no-retina> </div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption rev-p-large-black tp-resizeme" 
									id="slide-41-layer-4" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','826','826']" 
									data-y="['top','top','top','top']" data-voffset="['318','288','289','289']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-visibility="['on','on','off','off']"
									data-transform_idle="o:1;"
									data-transform_in="x:left;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">Etiam vitae tortor. Sed in libero ut nibh placerat accumsan. Duis lobortis massa imperdiet <br>quam. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption rev-btn rev-btn-green-large tp-resizeme" 
									id="slide-41-layer-5" 
									data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
									data-y="['top','top','center','center']" data-voffset="['400','370','60','40']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-visibility="['on','on','on','on']"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
									data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"
									data-transform_in="y:bottom;s:300;e:Power2.easeInOut;" 
									data-transform_out="opacity:0;s:300;" 
									data-start="500" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on">SEE MORE </div>
							</li>
						</ul>
						<div class="tp-bannertimer tp-bottom"></div>
					</div>
				</div>
				<!-- END REVOLUTION SLIDER -->
			</div><!-- /.slider -->
			
		</div>
	</div><!-- /.index2-wrapper -->
	
	<div class="who-we-are">
        <div class="container">
            <div class="row who-we-are-inner">
                <div class="col-xs-12 col-md-5 col-left pull-right">
                    <h2 class="q">who we are</h2>
                    <h3 class="a">We are the best team cleaning</h3>
                    <span class="tgs"></span>
                    <div class="text">
                        <p>
                            Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.  Labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <p>
                            Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>
                    </div>
                    <a href="#" class="btn-green">See more</a>
                </div>
                <div class="col-xs-12 col-md-7 col-right pull-left">
                    <img src="{% static 'img/demo/who-we-are.png'%}" alt="" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.who-we-are -->
	
	<div class="container">
		<div class="what-we-do-2 section-index">
			<div class="row mid-header">
				<div class="col-md-12">
					<h2 class="q">What we do</h2>
                    <h3 class="a">The best cleaning services</h3>
                    <span class="tgs"></span>
				</div>
			</div>
			<div class="wwd-list row">
				<div class="col-md-4">
					<div class="item">
						<a href="#" class="thumb"><img src="{% static 'img/demo/wwd-1.jpg' %}" alt=""><span class="btn-green">LEARN MORE</span></a>
						<div class="content">
							<h2 class="title"><a href="#">Home Cleaning</a></h2>
							<p class="desc">Phasellus magna. Morbi vestibulum volutpat enim. Sed libero. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item">
						<a href="#" class="thumb"><img src="{% static 'img/demo/wwd-2.jpg' %}" alt=""><span class="btn-green">LEARN MORE</span></a>
						<div class="content">
							<h2 class="title"><a href="#">Window Building Cleaning</a></h2>
							<p class="desc">Phasellus magna. Morbi vestibulum volutpat enim. Sed libero. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item">
						<a href="#" class="thumb"><img src="{% static 'img/demo/wwd-3.jpg' %}" alt=""><span class="btn-green">LEARN MORE</span></a>
						<div class="content">
							<h2 class="title"><a href="#">Wooden Floor Cleaning</a></h2>
							<p class="desc">Phasellus magna. Morbi vestibulum volutpat enim. Sed libero. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item">
						<a href="#" class="thumb"><img src="{% static 'img/demo/wwd-1.jpg' %}" alt=""><span class="btn-green">LEARN MORE</span></a>
						<div class="content">
							<h2 class="title"><a href="#">Home Cleaning</a></h2>
							<p class="desc">Phasellus magna. Morbi vestibulum volutpat enim. Sed libero. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item">
						<a href="#" class="thumb"><img src="{% static 'img/demo/wwd-2.jpg' %}" alt=""><span class="btn-green">LEARN MORE</span></a>
						<div class="content">
							<h2 class="title"><a href="#">Window Building Cleaning</a></h2>
							<p class="desc">Phasellus magna. Morbi vestibulum volutpat enim. Sed libero. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item">
						<a href="#" class="thumb"><img src="{% static 'img/demo/wwd-3.jpg' %}" alt=""><span class="btn-green">LEARN MORE</span></a>
						<div class="content">
							<h2 class="title"><a href="#">Wooden Floor Cleaning</a></h2>
							<p class="desc">Phasellus magna. Morbi vestibulum volutpat enim. Sed libero. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.what-we-do-2 -->
	
	<div class="subcribe subcribe-with-image has-parallax js__parallax js__background_image" data-background-image="{% static 'img/demo/bg-wall.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-left">
                    <h2 class="q">Get new free service now</h2>
                    <h3 class="a">Receive promotion & good service from us.</h3>
                    <span class="tgs"></span>
                    <form action="index" class="frm-subcribe" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" name="email" value="" placeholder="Email address" />
                            </div>
                            <div class="col-md-6">
                                <input type="tel" name="phone" value="" placeholder="Phone No" />
                            </div>
                            <div class="col-md-12">
                                <textarea name="mess" id="mess" placeholder="Write message"></textarea>
                            </div>
                        </div>
                        <button class="btn-green btn-subcribe" type="submit">Submit</button>
                    </form>
                </div>
				<div class="col-md-4">
					<div class="main-images">
						<img src="{% static 'img/demo/human.png' %}" alt="" />
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- /.subcribe -->
	
	<div class="our-experts">
        <div class="container">
            <div class="row mid-header">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="q">Our experts</h2>
                        <h3 class="a">We are the best team cleaning.</h3>
                        <span class="tgs"></span>
                    </div>                    
                </div>                
            </div>
            <div class="row people">
                <div class="col-md-4">
                    <div class="person">
                        <img src="{% static 'img/demo/team-01.png' %}" class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Jeeny Air</h2>
                                    <span>Cleaning staff</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->
                </div>
                <div class="col-md-4">
                    <div class="person">
                        <img src="{% static 'img/demo/team-02.png' %}" class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Jeeny Air</h2>
                                    <span>Cleaning staff</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->                    
                </div>
                <div class="col-md-4">
                    <div class="person">
                        <img src="{% static 'img/demo/team-03.png' %}" class="img-responsive" alt="" />
                        <div class="info">
                            <div class="bg"></div>
                            <div class="text">
                                <div class="left">
                                    <h2>Jeeny Air</h2>
                                    <span>Cleaning staff</span>
                                </div>
                                <ul class="social list-inline">
                                    <li><a href="#"><i class="fa-icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.person -->                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.our-experts -->
	
	<div class="fun-facts counter js__counters">   
        <div class="container content">
            <div class="row">
                <div class="col-sm-3 item item-gray">
                    <div class="counter-icon">
                        <i class="fa-icon-paper-plane-o"></i>
                    </div>
                    <span class="num js__counter_num" data-from="1" data-to="2310">
                        2310
                    </span>
                    <span class="name">
                        Project finish
                    </span>
                </div>
                <div class="col-sm-3 item item-gray">
                    <div class="counter-icon">
                        <i class="fa-icon-thumbs-up"></i>
                    </div>
                    <span class="num js__counter_num" data-from="1" data-to="1680">
                        1680
                    </span>
                    <span class="name">
                        Satified customers
                    </span>
                </div>
                <div class="col-sm-3 item item-gray">
                    <div class="counter-icon">
                        <i class="fa-icon-comment-o"></i>
                    </div>
                    <span class="num js__counter_num" data-from="1" data-to="3152">
                        3152
                    </span>
                    <span class="name">
                        Cleaning tip advices
                    </span>
                </div>
                <div class="col-sm-3 item item-gray">
                    <div class="counter-icon">
                        <i class="fa-icon-users"></i>
                    </div>
                    <span class="num js__counter_num" data-from="1" data-to="529">
                        529
                    </span>
                    <span class="name">
                        Staff around the world
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.fun-facts -->

	
    <div class="out-blog-posts">
        <div class="container">
            <div class="row mid-header">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="q">Out blog post</h2>
                        <h3 class="a">Cleaning tip advice.</h3>
                        <span class="tgs"></span>
                    </div>
                </div>
            </div>
            <div class="row posts">
                <div class="col-md-3 col-sm-6">
                    <div class="post">
                        <div class="thumb">
                            <a href="#" title="Single Image Post"><img src="{% static 'img/demo/blog-1.png' %}" class="img-responsive" alt="" /></a>
                            <div class="date">
                                <div class="bg"></div>
                                <div class="text">
                                    <span class="d">04</span>
                                    <span class="m">aug</span>
                                </div>                                
                            </div>
                        </div><!-- /.thumb -->
                        <div class="content">
                            <h2 class="title">
                                <a href="#" title="Single Image Post">Single Image Post</a>
                            </h2>
                            <div class="excerpt">
                                Lorem Ipsum is simply dummy text of the rinting and typesette industry lorem Ipsum has ...
                            </div>
                            <a href="#" class="readmore" title="Read More">Read More &raquo;</a>
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.post -->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="post">
                        <div class="thumb">                            
                            <a href="#" title="Single Video Post"><img src="{% static 'img/demo/blog-2.png' %}" class="img-responsive" alt="" /></a>
                            <div class="date">
                                <div class="bg"></div>
                                <div class="text">
                                    <span class="d">03</span>
                                    <span class="m">aug</span>
                                </div>
                            </div>
                        </div><!-- /.thumb -->
                        <div class="content">
                            <h2 class="title">
                                <a href="#" title="Single Video Post">Single Video Post</a>
                            </h2>
                            <div class="excerpt">
                                Lorem Ipsum is simply dummy text of the rinting and typesette industry lorem Ipsum has ...
                            </div>
                            <a href="#" class="readmore" title="Read More">Read More &raquo;</a>
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.post -->                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="post">
                        <div class="thumb">
                            <a href="#" title="Single Gallery Post"><img src="{% static 'img/demo/blog-3.png' %}" class="img-responsive" alt="" /></a>                            
                            <div class="date">
                                <div class="bg"></div>
                                <div class="text">
                                    <span class="d">01</span>
                                    <span class="m">aug</span>
                                </div>
                            </div>
                        </div><!-- /.thumb -->
                        <div class="content">
                            <h2 class="title">
                                <a href="#" title="Single Gallery Post">Single Gallery Post</a>
                            </h2>
                            <div class="excerpt">
                                Lorem Ipsum is simply dummy text of the rinting and typesette industry lorem Ipsum has ...
                            </div>
                            <a href="#" class="readmore" title="Read More">Read More &raquo;</a>
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.post -->                   
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="post">
                        <div class="thumb">
                            <a href="#" title="Single Image Post"><img src="{% static 'img/demo/blog-4.png' %}" class="img-responsive" alt="" /></a>                            
                            <div class="date">
                                <div class="bg"></div>
                                <div class="text">
                                    <span class="d">28</span>
                                    <span class="m">jul</span>
                                </div>
                            </div>
                        </div><!-- /.thumb -->
                        <div class="content">
                            <h2 class="title">
                                <a href="#" title="Single Image Post">Single Image Post</a>
                            </h2>
                            <div class="excerpt">
                                Lorem Ipsum is simply dummy text of the rinting and typesette industry lorem Ipsum has ...
                            </div>
                            <a href="#" class="readmore" title="Read More">Read More &raquo;</a>
                        </div>
                        <!-- /.content -->
                    </div>
                    <!-- /.post -->                    
                </div>
                <div class="col-md-12 text-center">
                    <a href="#" title="View All Post" class="btn-green view-all-post">View All Post</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.out-blog-posts -->
	
	
  
    <div class="clients clients-index-3 no-padding-top">
        <div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text-left margin-bottom-50">
						<h2 class="q">Our Partners</h2>
						<h3 class="a">Our best partners - They always trust us</h3>
						<span class="tgs"></span>
					</div>
					<div class="list-client-small">
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner1.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner2.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner3.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner4.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner5.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner6.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner2.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner3.png' %}" alt="" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="{% static 'img/demo/partner4.png' %}" alt="" /></a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-left margin-bottom-50">
						<h2 class="q">Testimonials</h2>
						<h3 class="a">What Our clients say about us</h3>
						<span class="tgs"></span>
					</div>
					<div class="testimonials testimonials-small">
						<div class="slick-slider-nav">
                            <div class="item">
                                <img src="{% static 'img/demo/testimonial-1.png' %}" height="70" width="70" alt="" />
                            </div>
                            <div class="item">
                                <img src="{% static 'img/demo/testimonial-2.png' %}" height="70" width="70" alt="" />
                            </div>
                            <div class="item">
								<img src="{% static 'img/demo/testimonial-3.png' %}" height="70" width="70" alt="" />
                            </div>
                            <div class="item">
                                <img src="{% static 'img/demo/testimonial-4.png' %}" height="70" width="70" alt="" />
                            </div>
                            <div class="item">
                                <img src="{% static 'img/demo/testimonial-5.png' %}" height="70" width="70" alt="" />
                            </div>
                        </div><!-- /.slick-slider-nav -->
						<div class="list-testimonial slick-slider-for">
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
							<div class="item">
								<div class="text">
									Lorem ipsum Ea qui in adipisicing eu et nisi velit veniam aute Duis dolore id aliqua esse est dolor eiusmod aliquip sed cupidatat consequat labore officia fugiat et.
								</div>
								<div class="author">Elena Simpson</div>
								<span>Ceo Ila</span>
							</div>
						</div><!-- /.slick-slider-for-->
					</div>
                </div> <!-- /.testimonials -->
            </div>
        </div>
    </div>
{% endblock %}	
	