{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

	<div class="container padding-top-75 service-list">
		<div class="row text-center">
			<div class="col-md-4 col-sm-6">
				<div class="item-portfolio item-service">
					<a href="#" class="thumb">
						<img src='{% static "img/demo/img-service-1.png" %}' alt="">
						<span>Detail</span>
					</a>
					<div class="content">
						<h2>Home & Floor Cleaning</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
						<a class="readmore" href="#">Read More <i class="fa-icon-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-portfolio item-service">
					<a href="#" class="thumb">
						<img src='{% static "img/demo/img-service-2.png" %}' alt="">
						<span>Detail</span>
					</a>
					<div class="content">
						<h2>Building Cleaning</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
						<a class="readmore" href="#">Read More <i class="fa-icon-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-portfolio item-service">
					<a href="#" class="thumb">
						<img src='{% static "img/demo/img-service-3.png" %}' alt="">
						<span>Detail</span>
					</a>
					<div class="content">
						<h2>Window Building Cleaning</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
						<a class="readmore" href="#">Read More <i class="fa-icon-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-portfolio item-service">
					<a href="#" class="thumb">
						<img src='{% static "img/demo/img-service-4.png" %}' alt="">
						<span>Detail</span>
					</a>
					<div class="content">
						<h2>Vehicle Cleaning</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
						<a class="readmore" href="#">Read More <i class="fa-icon-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-portfolio item-service">
					<a href="#" class="thumb">
						<img src='{% static "img/demo/img-service-5.png" %}' alt="">
						<span>Detail</span>
					</a>
					<div class="content">
						<h2>Commercial Cleaning</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
						<a class="readmore" href="#">Read More <i class="fa-icon-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="item-portfolio item-service">
					<a href="#" class="thumb">
						<img src='{% static "img/demo/img-service-6.png" %}' alt="">
						<span>Detail</span>
					</a>
					<div class="content">
						<h2>Maintenance Service</h2>
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
						<a class="readmore" href="#">Read More <i class="fa-icon-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	

    <!-- /.clients -->
{% endblock %}	